<h1>Weather data for <i><%= @location %></i> on <%= @date.strftime('%D') %></h1>
<h3>Current temperature: <%= @results['current_temp']%>ยบ celcius<br>
Current condition: <%= @results['current_cond']%></h3>
<table class="table">
  <tr>
    <th>Time</th>
    <th>Temperature</th>
    <th>Rainfall</th>
    <th>Wind Direction</th>
    <th>Wind Speed</th>
  </tr>
  <% @results['measurements'].each do |m| %>
  <tr>
    <td><%= m['time'] %></td>
    <td><%= m['temp'] %></td>
    <td><%= m['precip'] %></td>
    <td><%= m['wind_direction'] %></td>
    <td><%= m['wind_speed'] %></td>
  </tr>
  <% end %>
</table>
