<h1>Weather Data</h1>
<table class="table">
  <tr>
    <th>Location</th>
    <th>Temperature</th>
    <th>Rainfall</th>
    <th>Wind Speed</th>
    <th>Wind Direction</th>
  </tr>
  <% @observations.each do |o| %>
  <tr>
    <td><%= @location %></td>
    <td><%= o.get_measurement.temperature %></td>
    <td><%= o.get_measurement.rainfall %></td>
    <td><%= o.get_measurement.wind_speed %></td>
    <td><%= o.get_measurement.wind_direction %></td>
  </tr>
  <% end %>
</table>
