
<h1>Weather Data</h1>
<% @times.each do |t| %>
<% @observations = Observation.where(time_stamp_id: t.id) %>
<% @now = Time.at(t.timestamp) %>

<h2><%= @now %></h2>
<table class="table">
  <tr>
    <th>Location</th>
    <th>Temperature (ºC)</th>
    <th>Dew Point (ºC)</th>
    <th>Rainfall (mm)</th>
    <th>Wind Direction</th>
    <th>Wind Speed</th>
  </tr>
<% @observations.each do |obs| %>
  <tr>
    <td><%= Location.find(obs.location_id).name %></td>
    <td><%= obs.temperature %></td>
    <td><%= obs.dew_point %></td>
    <td><%= obs.rainfall %></td>
    <td><%= obs.wind_direction %></td>
    <td><%= obs.wind_speed %></td>
  </tr>
<% end %>
</table>
<br>

<% end %>
